# 1. SETTINGS

In [1]:
# libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display
import scipy.stats

In [2]:
# pandas options
pd.set_option("display.max_columns", None)

In [3]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
# garbage collection
import gc
gc.enable()

# 2. NAIVE BENCHMARK

In [5]:
# import data
train = pd.read_csv("../data/raw/Trade.csv")
test  = pd.read_csv("../data/raw/Challenge_20180423.csv")

In [6]:
# check all datasets
display(test.head(3))
print("Test data:", test.shape)
print("------------------------------")
display(train.head(3))
print("Train data:", train.shape)

  PredictionIdx   DateKey  CustomerIdx  IsinIdx BuySell  CustomerInterest
0    a1e0d80784  20180423         1856    13323     Buy               NaN
1    c2cc6cc2a8  20180423         1856     9230     Buy               NaN
2    a8e94f6344  20180423         1780     9157     Buy               NaN

Test data: (484758, 6)
------------------------------

,TradeDateKey,CustomerIdx,IsinIdx,BuySell,NotionalEUR,Price,TradeStatus,CustomerInterest
0,20161207,2789,8478,Sell,653168.0,0.0,Unknown,1.0
1,20170329,2574,14562,Buy,1656487.0,0.0,Unknown,1.0
2,20170418,2574,4747,Buy,939673.0,0.0,Unknown,1.0

Train data: (6762021, 8)

In [7]:
# create target variable
train["CustomerInterest"] = 1
train["CustomerInterest"][train["TradeStatus"] == "Holding"] = 0

In [13]:
# compute historical target ratio (ALL DATA)
cust_int = train[["CustomerIdx", "CustomerInterest", "IsinIdx", "BuySell"]]
cust_int = cust_int.groupby(["CustomerIdx", "IsinIdx", "BuySell"], as_index = False).mean()
cust_int.head()

   CustomerIdx  IsinIdx BuySell  CustomerInterest
0            0    16471     Buy               1.0
1            0    16499     Buy               1.0
2            0    20601     Buy               1.0
3            0    20737     Buy               1.0
4            0    20909    Sell               1.0

In [12]:
# compute historical target ratio (2018 ONLY)
cust_int_2018 = train[train["TradeDateKey"] > 20180101]
cust_int_2018 = cust_int_2018[["CustomerIdx", "CustomerInterest", "IsinIdx", "BuySell"]]
cust_int_2018 = cust_int_2018.groupby(["CustomerIdx", "IsinIdx", "BuySell"], as_index = False).mean()
cust_int_2018.head()

   CustomerIdx  IsinIdx BuySell  CustomerInterest
0            0    24944    Sell               1.0
1            0    25992     Buy               1.0
2            0    26726    Sell               1.0
3            0    26793    Sell               1.0
4            0    27045     Buy               1.0

In [19]:
# average two ratios
cust_int = cust_int.merge(cust_int_2018, how = "left", on = ["CustomerIdx", "IsinIdx", "BuySell"])
cust_int["CustomerInterest"] = (cust_int["CustomerInterest_x"].fillna(0) + cust_int["CustomerInterest_y"].fillna(0))/2
cust_int.head()

,CustomerIdx,IsinIdx,BuySell,CustomerInterest_x,CustomerInterest_y,CustomerInterest
0,0,16471,Buy,1.0,NaN,0.5
1,0,16499,Buy,1.0,NaN,0.5
2,0,20601,Buy,1.0,NaN,0.5
3,0,20737,Buy,1.0,NaN,0.5
4,0,20909,Sell,1.0,NaN,0.5
5,0,20910,Buy,1.0,NaN,0.5
6,0,21852,Buy,1.0,NaN,0.5
7,0,21856,Buy,1.0,NaN,0.5
8,0,22294,Sell,1.0,NaN,0.5
9,0,22331,Buy,1.0,NaN,0.5
10,0,22705,Buy,1.0,NaN,0.5
11,0,23182,Buy,1.0,NaN,0.5
12,0,23668,Buy,1.0,NaN,0.5
13,0,23725,Buy,1.0,NaN,0.5
14,0,24858,Sell,1.0,NaN,0.5
15,0,24944,Sell,1.0,1.0,1.0
16,0,25052,Buy,1.0,NaN,0.5
17,0,25081,Sell,1.0,NaN,0.5
18,0,25164,Sell,1.0,NaN,0.5
19,0,25169,Sell,1.0,NaN,0.5
20,0,25309,Sell,1.0,NaN,0.5
21,0,25326,Sell,1.0,NaN,0.5
22,0,25396,Buy,1.0,NaN,0.5
23,0,25782,Sell,1.0,NaN,0.5
24,0,25788,Buy,1.0,NaN,0.5
25,0,25992,Buy,1.0,1.0,1.0
26,0,26501,Sell,1.0,NaN,0.5
27,0,26726,Sell,1.0,1.0,1.0
28,0,26793,Sell,1.0,1.0,1.0
29,0,27045,Buy,1.0,1.0,1.0
...,...,...,...,...,...,...
70,4,26249,Buy,1.0,NaN,0.5
71,5,3,Sell,1.0,NaN,0.5
72,5,24,Sell,1.0,1.0,1.0
73,5,1945,Sell,1.0,1.0,1.0
74,5,2130,Buy,1.0,NaN,0.5
75,5,2136,Buy,1.0,NaN,0.5
76,5,2162,Buy,1.0,NaN,0.5
77,5,2166,Sell,1.0,NaN,0.5
78,5,2172,Sell,1.0,NaN,0.5
79,5,2181,Sell,1.0,NaN,0.5
80,5,2184,Sell,1.0,NaN,0.5
81,5,2187,Sell,1.0,NaN,0.5
82,5,2191,Sell,1.0,NaN,0.5
83,5,2204,Sell,1.0,NaN,0.5
84,5,2257,Sell,1.0,NaN,0.5
85,5,2265,Sell,1.0,NaN,0.5
86,5,2310,Sell,1.0,NaN,0.5
87,5,2396,Buy,1.0,NaN,0.5
88,5,2413,Buy,1.0,NaN,0.5
89,5,3131,Sell,1.0,NaN,0.5
90,5,3355,Sell,1.0,NaN,0.5
91,5,3540,Sell,1.0,NaN,0.5
92,5,3990,Sell,1.0,NaN,0.5
93,5,5216,Sell,1.0,1.0,1.0
94,5,5433,Buy,1.0,NaN,0.5
95,5,10842,Buy,1.0,1.0,1.0
96,5,12386,Buy,1.0,NaN,0.5
97,5,14254,Sell,1.0,NaN,0.5
98,5,14961,Sell,1.0,NaN,0.5
99,5,15539,Buy,1.0,1.0,1.0

In [20]:
# merge to test
del test["CustomerInterest"]
test = test.merge(cust_int, how = "left", on = ["CustomerIdx", "IsinIdx", "BuySell"])
test.head()

,PredictionIdx,DateKey,CustomerIdx,IsinIdx,BuySell,CustomerInterest_x,CustomerInterest_y,CustomerInterest
0,a1e0d80784,20180423,1856,13323,Buy,NaN,NaN,NaN
1,c2cc6cc2a8,20180423,1856,9230,Buy,0.416667,1.0,0.708333
2,a8e94f6344,20180423,1780,9157,Buy,NaN,NaN,NaN
3,758bae1e35,20180423,2129,9131,Buy,NaN,NaN,NaN
4,02ab378ee8,20180423,1758,7151,Buy,0.000000,NaN,0.000000

In [22]:
# fill NA (no customer-bond interactions)
test.CustomerInterest.fillna(0, inplace = True)

In [23]:
# export CSV
subm = test[["PredictionIdx", "CustomerInterest"]]
subm.to_csv("../submissions/naive_mean.csv", index = False, float_format = "%.8f")